@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  height: 100vh;
  background-image: url('https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg?w=2000');
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
}
.container {

  /* background: #f4fefe; */
  display: table-row;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
}
.button{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.gif{
  /* position: absolute; */
  /* top:280px;
  left: 622px; */
}